@charset "UTF-8";
/*****************************************************************************
 ******************************************** Variables
 ****************************************************************************/
#firstPresentation {
  height: 100%;
  width: 50%; }

/*****************************************************************************
 ******************************************** GLOBAL
 ****************************************************************************/
/* Une autre vision du box-sizing. 
 * Simplififier les calculs de dimensions
 * ------------------------------------------------------------------------------------------------------------------
 * Paul Irish (ingénieur chez Google) qui au début de l'année 2012 alors que l'utilisation
 * d'Internet Explorer 6 et 7 se faisait de plus en plus rare, a suggéré l'emploi de ce "pas si nouveau"
 * modèle de boîte pour tous les éléments de la page avec la règle suivante :
 * ------------------------------------------------------------------------------------------------------------------ */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  background-image: url("../images/bg2.png");
  background-repeat: repeat; }

header {
  border-bottom: 1px solid #999; }
  header nav h1 a:hover {
    text-decoration: none; }
  header #disabledButton {
    word-spacing: 2px;
    letter-spacing: 3px; }
  header a:hover.nav-link {
    border-bottom: 3px solid #0275d8;
    transition: border .5s linear; }

h1, h2, h3, h4, h5, h6, p:first-letter {
  font-family: 'Aref Ruqaa', serif;
  text-align: center; }

/*****************************************************************************
 ******************************************** SLIDER
 ****************************************************************************/
.slider {
  display: none; }
  .slider .information {
    background-image: url("../images/bg.png");
    background-repeat: repeat;
    text-align: center;
    padding: 20px 100px;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    word-spacing: 5px; }
  .slider .information.disabled {
    display: none; }
  .slider #icone {
    background-color: #f7f7f9;
    margin-top: 0px;
    padding: 10px 0;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: #999; }
    .slider #icone button {
      width: 90%;
      height: auto;
      border: none;
      padding: 10px 0;
      background-color: #eee;
      opacity: .2; }
      .slider #icone button i {
        color: #000;
        font-size: 2em; }
  .slider #icone:hover {
    background-color: #eee;
    border-radius: 0 0 25px 25px;
    transition: all .5s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: #999; }
    .slider #icone:hover button {
      opacity: 1;
      transition: opacity .5s linear; }

.description:nth-child(1) {
  margin-top: 40px; }

.description section {
  margin: 20px 40px; }

#plaisir, #statistique, #famille {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #fff;
  background-image: url("../images/bg.png");
  background-repeat: repeat;
  height: 500px; }
  #plaisir .title h4, #statistique .title h4, #famille .title h4 {
    font-size: 2em;
    text-shadow: 2px 2px 0 #fff; }
  #plaisir .image, #statistique .image, #famille .image {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 20px #000; }
  #plaisir .image img, #statistique .image img, #famille .image img {
    filter: sepia(100%);
    z-index: 1; }
  #plaisir .image .scotch1,
  #plaisir .image .scotch2,
  #plaisir .image .scotch3,
  #plaisir .image .scotch4, #statistique .image .scotch1,
  #statistique .image .scotch2,
  #statistique .image .scotch3,
  #statistique .image .scotch4, #famille .image .scotch1,
  #famille .image .scotch2,
  #famille .image .scotch3,
  #famille .image .scotch4 {
    position: absolute;
    width: 50px;
    height: 120px;
    background-color: #fff;
    opacity: .8;
    box-shadow: 0 0 10px #000; }
  #plaisir .image .scotch1, #statistique .image .scotch1, #famille .image .scotch1 {
    top: -35px;
    left: 0px;
    transform: rotate(45deg); }
  #plaisir .image .scotch2, #statistique .image .scotch2, #famille .image .scotch2 {
    top: -35px;
    right: 0px;
    transform: rotate(-45deg); }
  #plaisir .image .scotch3, #statistique .image .scotch3, #famille .image .scotch3 {
    bottom: -30px;
    left: 0px;
    transform: rotate(-45deg); }
  #plaisir .image .scotch4, #statistique .image .scotch4, #famille .image .scotch4 {
    bottom: -30px;
    right: 0px;
    transform: rotate(45deg); }
  #plaisir .paragraphe p:first-letter, #statistique .paragraphe p:first-letter, #famille .paragraphe p:first-letter {
    font-size: 4em;
    float: left;
    padding: 0 10px 0 0;
    text-shadow: 0 0 10px #fff; }
  #plaisir .paragraphe p, #statistique .paragraphe p, #famille .paragraphe p {
    letter-spacing: 2px;
    word-spacing: 2px; }

#plaisir:hover, #statistique:hover, #famille:hover {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #fff;
  transition: box-shadow .5s linear;
  cursor: pointer; }
  #plaisir:hover .title h4, #statistique:hover .title h4, #famille:hover .title h4 {
    font-size: 3em;
    transform: rotate(-90deg);
    border-bottom: 1px solid #fff;
    transition: all .5s linear; }
  #plaisir:hover .image img, #statistique:hover .image img, #famille:hover .image img {
    filter: sepia(50%); }
  #plaisir:hover .image img:hover, #statistique:hover .image img:hover, #famille:hover .image img:hover {
    filter: sepia(0%); }
  #plaisir:hover .image img, #plaisir:hover .image img:hover, #statistique:hover .image img, #statistique:hover .image img:hover, #famille:hover .image img, #famille:hover .image img:hover {
    transition: filter .5s linear; }

/*# sourceMappingURL=myStyle.css.map */
