@charset "UTF-8";
/*****************************************************************************
 ******************************************** GLOBAL
 ****************************************************************************/
body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Lato', sans-serif;
}
/*****************************************************************************
 ******************************************** HEADER
 ****************************************************************************/

/*****************************************************************************
 ******************************************** SLIDER
 ****************************************************************************/
 .slider {
     width: 100%;
     height: 250px;
     background-image: linear-gradient(#f7f7f9, #999);
     display: flex;
     justify-content: center;
     align-items: center;
     hgroup {
         text-align: center;
     }
 }

/*****************************************************************************
 ******************************************** DESCRIPTION
 ****************************************************************************/
article h4 {
    text-align: center;
}
#plaisir {
    background-color: #999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    div.title h4 {
        transform: rotate(-90deg);
        font-size: 3em;
        text-shadow: 0 0 10px #fff;
        border-bottom: 1px solid #fff;
    }
    div.image img {
        filter:sepia(100%);
        margin: 0 100px;
    }
    div.paragraphe p:first-letter {
        font-size: 6em;
        padding-right: 20px;
        text-shadow: 0 0 10px #fff;
        float: left;
    }
    div.paragraphe p {
        word-spacing: 2px;
        letter-spacing: 5px;
        margin: 200px;
    }
}