@charset "UTF-8";
/*****************************************************************************
 ******************************************** Variables
 ****************************************************************************/
$couleurOmbre: #999;
$couleurOmbreHover: #eee;
$blanc: #fff;
$black: #000;
$primary: #0275d8;
$danger: #d9534f;

/*****************************************************************************
 ******************************************** GLOBAL
 ****************************************************************************/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(#f7f7f9, #999);
    
}
header {
    border-bottom: 1px solid $couleurOmbre;
}

h1, h2, h3, h4, h5, h6, p:first-letter {
    font-family: 'Aref Ruqaa', serif;
}
/*****************************************************************************
 ******************************************** SLIDER
 ****************************************************************************/
.slider {
    .information {
        background-color: #f7f7f9;
        text-align:center;
        padding: 20px 100px;
        border-left: 1px solid $couleurOmbre;
        border-right: 1px solid $couleurOmbre;
        border-bottom: 1px solid $couleurOmbre;
        word-spacing: 5px;
    }

    #icone {
        background-color: #f7f7f9;
        margin-top: 0px;
        padding: 10px 0;
        border-left: 1px solid $couleurOmbre;
        border-right: 1px solid $couleurOmbre;
        border-bottom: 1px solid $couleurOmbre;
        border-radius: 0 0 10px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: $couleurOmbre; 
        i.fa {
            font-size: 2em;
        }
        i.fa:before {
            content: "-  \f070  - Cacher le contenu...";
            color: $danger;
        }
    }

    #icone:hover {
        background-color: $couleurOmbreHover;
        border-radius: 0 0 25px 25px;
        transition: all .5s linear;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: $couleurOmbre;
        i.fa:before {
            content: "";
        }
        i.fa:after {
            color: $primary;
            transition: color .5s linear;
            content: "-  \f06e  - Afficher le contenu...";
        }
    }
}
    



.description:nth-child(1) {
    margin-top: 40px;
}

.description section {
    margin: 20px 40px;
}

#plaisir, #statistique, #famille {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid $blanc;
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    .title h4 {
        font-size: 2em;        
        text-shadow: 2px 2px 0 $blanc;
    }
    .image {
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 20px $black;
    }
    .image img {
        filter: sepia(100%);
        z-index: 1;
    }
    .image .scotch1, 
    .image .scotch2,
    .image .scotch3,
    .image .scotch4 {
        position: absolute;
        width: 50px;
        height: 120px;
        background-color: $blanc;
        opacity: .8;
        box-shadow: 0 0 10px $black;
    }
    .image .scotch1 {
        top: -35px;
        left: 0px;
        transform: rotate(45deg);
    }
    .image .scotch2 {
        top: -35px;
        right: 0px;
        transform: rotate(-45deg);
    }
    .image .scotch3 {
        bottom: -30px;
        left: 0px;
        transform: rotate(-45deg);
    }
    .image .scotch4 {
        bottom: -30px;
        right: 0px;
        transform: rotate(45deg);
    }

    .paragraphe p:first-letter {
        font-size: 4em;
        float: left;
        padding: 0 10px 0 0;
        text-shadow: 0 0 10px $blanc;
    }
    .paragraphe p {
        letter-spacing: 2px;
        word-spacing: 2px;
    }
}

#plaisir:hover, #statistique:hover, #famille:hover {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid $blanc;
    transition: box-shadow .5s linear;
    cursor: pointer;
    .title h4 {
        font-size: 3em;
        transform: rotate(-90deg);
        border-bottom: 1px solid $blanc;
        transition: all .5s linear;
    }
    .image img {
        filter: sepia(50%);
    }
    .image img:hover {
        filter: sepia(0%);
    }
    .image img, .image img:hover {
        transition: filter .5s linear;
    }
}































































































/* ************************************ SAVE */


/*****************************************************************************
 ******************************************** HEADER
 ****************************************************************************/

/*****************************************************************************
 ******************************************** SLIDER
 ****************************************************************************/
 
/* ************************************ SAVE 
 .slider {
     margin: 0;
     width: 100%;
     height: 250px;
     display: flex;
     justify-content: center;
     align-items: center;
     hgroup {
         text-align: center;
     }
     #information {
         background-color: #fff;
         padding: 10px;
         border: #000 1px solid;
         box-shadow: 0 0 50px #000;
         transform: rotate(-30deg);
         position: relative;
         img {
             position: absolute;
             width: 50px;
             height: 50px;
             transform: rotate(30deg);
             top: -60px;
             left: 70px;
         }
     }
 }

 */

 /* ************************************ SAVE */

/*****************************************************************************
 ******************************************** DESCRIPTION
 ****************************************************************************/

 /* ************************************ SAVE 

article h4 {
    text-align: center;
    margin-left: 20px;
}
#plaisir {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    div.title h4 {
        font-size: 2em;
        border-bottom: 1px solid #fff;
        text-shadow: 0 0 10px #fff;
    }
    div.image img {
        filter:sepia(100%);
        margin: 0 100px;
    }
    div.image img:hover {
        filter:sepia(0%);
        transition: filter .5s linear;
        margin: 0 100px;
    }
    div.paragraphe p:first-letter {
        font-size: 6em;
        padding-right: 20px;
        float: left;
    }
    div.paragraphe p {
        word-spacing: 2px;
        letter-spacing: 5px;
        margin: 200px;
    }
}
#plaisir:hover {
    div.title h4 {
        transform: rotate(-90deg);
        font-size: 3em;
        transition: all .5s ease;
    }
    div.image img:hover {
        filter:sepia(0%);
        margin: 0 100px;
    }
    div.paragraphe p:first-letter {
        font-size: 6em;
        padding-right: 20px;
        text-shadow: 0 0 10px #fff;
        float: left;
    }
    div.paragraphe p {
        word-spacing: 2px;
        letter-spacing: 5px;
        margin: 200px;
    }
}

*/