@charset "UTF-8";
/*****************************************************************************
 ******************************************** Variables
 ****************************************************************************/
$couleurOmbre: #999;
$couleurOmbreHover: #eee;
$blanc: #fff;

/*****************************************************************************
 ******************************************** GLOBAL
 ****************************************************************************/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(#f7f7f9, #999);
    
}
.description section {
    margin: 20px 0;
}

#plaisir {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid $blanc;
    box-shadow: 0 0 30px $couleurOmbre;
    .title h4 {
        font-size: 2em;        
        text-shadow: 2px 2px 0 $blanc;
    }
    img {
        filter: sepia(100%);
    }
    .paragraphe p:first-letter {
        
    }
}

#plaisir:hover {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid $blanc;
    box-shadow: 0 0 30px $couleurOmbreHover;
    transition: box-shadow .5s linear;
    .title h4 {
        font-size: 3em;
        transform: rotate(-90deg);
        border-bottom: 1px solid $blanc;
        transition: all .5s linear;
    }
    .image img {
        filter: sepia(50%);
    }
    .image img:hover {
        filter: sepia(0%);
    }
    .image img, .image img:hover {
        transition: filter .5s linear;
    }
}


































































































/* ************************************ SAVE */


/*****************************************************************************
 ******************************************** HEADER
 ****************************************************************************/

/*****************************************************************************
 ******************************************** SLIDER
 ****************************************************************************/
 
/* ************************************ SAVE 
 .slider {
     margin: 0;
     width: 100%;
     height: 250px;
     display: flex;
     justify-content: center;
     align-items: center;
     hgroup {
         text-align: center;
     }
     #information {
         background-color: #fff;
         padding: 10px;
         border: #000 1px solid;
         box-shadow: 0 0 50px #000;
         transform: rotate(-30deg);
         position: relative;
         img {
             position: absolute;
             width: 50px;
             height: 50px;
             transform: rotate(30deg);
             top: -60px;
             left: 70px;
         }
     }
 }

 */

 /* ************************************ SAVE */

/*****************************************************************************
 ******************************************** DESCRIPTION
 ****************************************************************************/

 /* ************************************ SAVE 

article h4 {
    text-align: center;
    margin-left: 20px;
}
#plaisir {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    div.title h4 {
        font-size: 2em;
        border-bottom: 1px solid #fff;
        text-shadow: 0 0 10px #fff;
    }
    div.image img {
        filter:sepia(100%);
        margin: 0 100px;
    }
    div.image img:hover {
        filter:sepia(0%);
        transition: filter .5s linear;
        margin: 0 100px;
    }
    div.paragraphe p:first-letter {
        font-size: 6em;
        padding-right: 20px;
        float: left;
    }
    div.paragraphe p {
        word-spacing: 2px;
        letter-spacing: 5px;
        margin: 200px;
    }
}
#plaisir:hover {
    div.title h4 {
        transform: rotate(-90deg);
        font-size: 3em;
        transition: all .5s ease;
    }
    div.image img:hover {
        filter:sepia(0%);
        margin: 0 100px;
    }
    div.paragraphe p:first-letter {
        font-size: 6em;
        padding-right: 20px;
        text-shadow: 0 0 10px #fff;
        float: left;
    }
    div.paragraphe p {
        word-spacing: 2px;
        letter-spacing: 5px;
        margin: 200px;
    }
}

*/